<ul class="navigation">
    <li><a href="/" title="View the CSE Motors home page">Home</a></li>
    <li><a href="/inv/type/Custom" title="View our custom vehicles">Custom</a></li>
    <li><a href="/inv/type/Sedan" title="View our sedans">Sedan</a></li>
    <li><a href="/inv/type/SUV" title="View our SUVs">SUV</a></li>
    <li><a href="/inv/type/Truck" title="View our trucks">Truck</a></li>
</ul>