<!DOCTYPE html>
<html>
<head>
    <title><%= title %> | CSE Motors</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <span class="siteName"><a href="/">CSE Motors</a></span>
            <div id="tools">
                <a href="/account/login">My Account</a>
            </div>
        </header>
        
        <%- nav %> 

        <main>
            <%- body %>
        </main>
        
        <%- include('../partials/footer') %>
    </div>
</body>
</html>