<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CSE Motors</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div id="wrapper">
        <header>
            <span class="site-name">CSE Motors</span>
            <div id="tools">
                <a href="/account/login">My Account</a>
            </div>
        </header>

        <nav id="top-nav">
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/inv/type/1">Custom</a></li>
            <li><a href="/inv/type/2">Sedan</a></li>
            <li><a href="/inv/type/3">Sport</a></li>
            <li><a href="/inv/type/4">SUV</a></li>
            <li><a href="/inv/type/5">Truck</a></li>
          </ul>
        </nav>

        <main>
            <%- body %> </main>

        <footer>
            <p>&copy; 2026, CSE 340 App</p>
        </footer>
    </div>
</body>
</html>