<h1>Welcome to CSE Motors!</h1>

<div class="hero-container">
    <div class="hero-text">
        <h2>DMC Delorean</h2>
        <p>3 Cup holders<br>Superman doors<br>Fuzzy dice!</p>
        <button class="hero-btn">Own Today</button>
    </div>
    <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean" class="hero-img">
</div>

<div class="flex-content">
    <section class="upgrades">
        <h3>Delorean Upgrades</h3>
        <div class="upgrade-grid">
            </div>
    </section>
    
    <section class="reviews">
        <h3>DMC Delorean Reviews</h3>
        </section>
</div>