<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %> | CSE 340</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <h1>CSE 340 App</h1>
        </nav>
    </header>

    <main>
        <%- body %> </main>

    <footer>
        <p>&copy; 2026 | CSE 340 Project</p>
    </footer>
</body>
</html>